{% extends "tg_bot/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Моя библиотека</h2>

    <!-- Статус подписки -->
    <div class="card mb-4">
        <div class="card-header">
            Статус подписки {{ subscription_status }}
        </div>
        <div class="card-body rental-info">
            <p><strong>Тип подписки:</strong> {{ subscription.subscription_type }}</p>
            <p><strong>Срок действия до:</strong> {{ subscription_end_date }}</p>
        </div>
    </div>

    <!-- Текущая арендованная книга -->
    {% if rented_book %}
    <div class="card mb-4">
        <div class="card-header">
            Текущая арендованная книга
        </div>
        <div class="card-body d-flex align-items-center">
            <img src="{{ rented_book.cover_url }}" alt="Обложка книги" class="img-thumbnail mr-3" style="width: 100px; margin-right: 0.25rem;">
            <div class="rental-info">
                <h5>{{ rented_book.title }}</h5>
                <p><strong>Автор:</strong> {{ rented_book.author }}</p>
                <p><strong>Срок аренды до:</strong> {{ rented_book.return_date }}</p>
                <p><strong>Осталось:</strong> {{ rented_book.remaining_time }} д.</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card mb-4">
        <div class="card-header">
            Текущая арендованная книга
        </div>
        <div class="card-body">
            <p>В данный момент у вас нет арендованных книг.</p>
        </div>
    </div>
    {% endif %}

    <!-- История арендованных книг -->
    <div class="text-center">
        <a href="{% url 'rentals:rental_history' %}" class="btn btn-outline-primary">Ранее арендованные книги</a>
    </div>

</div>
{% endblock content %}
